# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
geq

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Default output file
schema.graphql
schema.json
schema.min.graphql
schema.min.json

# Dependency directories (remove the comment below if you want to check in your vendor directory)
vendor/

# Go workspace file
go.work

# macOS specific files
.DS_Store
